# DVLA Vehicle Enquiry API
DVLA_API_KEY=your_dvla_key_here
DVLA_API_BASE=https://driver-vehicle-licensing.api.gov.uk/vehicle-enquiry/v1

# Fuel Finder API
FUEL_FINDER_CLIENT_ID=your_client_id
FUEL_FINDER_CLIENT_SECRET=your_client_secret
FUEL_FINDER_TOKEN_URL=https://api.fuelfinder.co.uk/oauth/token
FUEL_FINDER_API_BASE=https://api.fuelfinder.co.uk/v1

# App
NEXT_PUBLIC_APP_URL=https://fuelgeniuspro.com
