@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #16a34a;
  --brand-dark: #15803d;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.leaflet-container {
  background: #e5e7eb !important;
}

.leaflet-popup-content-wrapper {
  background: white !important;
  color: #111 !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15) !important;
}
